/**
 * Any CSS included here will be global. The classic template
 * bundles Infima by default. Infima is a CSS framework designed to
 * work well for content-centric websites.
 */

u {
  text-decoration-thickness: 1px;
  text-decoration-color: var(--ifm-link-color);
  text-underline-offset: 2.75px;
}

a {
  text-underline-offset: 2.75px;
}

blockquote {
  border-left-width: 4.5px;
  font-style: italic;
}

.header-github-link:hover,
.header-blog-link:hover {
  opacity: 0.6;
}

.header-github-link:before,
.header-blog-link:before {
  content: "";
  display: flex;
  height: 24px;
  width: 24px;
  background: url("data:image/svg+xml;charset=utf-8,%3Csvg viewBox='0 0 24 24' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath fill='%23000' d='M12 .297c-6.63 0-12 5.373-12 12 0 5.303 3.438 9.8 8.205 11.385.6.113.82-.258.82-.577 0-.285-.01-1.04-.015-2.04-3.338.724-4.042-1.61-4.042-1.61C4.422 18.07 3.633 17.7 3.633 17.7c-1.087-.744.084-.729.084-.729 1.205.084 1.838 1.236 1.838 1.236 1.07 1.835 2.809 1.305 3.495.998.108-.776.417-1.305.76-1.605-2.665-.3-5.466-1.332-5.466-5.93 0-1.31.465-2.38 1.235-3.22-.135-.303-.54-1.523.105-3.176 0 0 1.005-.322 3.3 1.23.96-.267 1.98-.399 3-.405 1.02.006 2.04.138 3 .405 2.28-1.552 3.285-1.23 3.285-1.23.645 1.653.24 2.873.12 3.176.765.84 1.23 1.91 1.23 3.22 0 4.61-2.805 5.625-5.475 5.92.42.36.81 1.096.81 2.22 0 1.606-.015 2.896-.015 3.286 0 .315.21.69.825.57C20.565 22.092 24 17.592 24 12.297c0-6.627-5.373-12-12-12'/%3E%3C/svg%3E") no-repeat;
}

.header-blog-link:before {
  background-image: url("data:image/svg+xml;charset=utf-8,%3Csvg fill='%23000000' viewBox='0 0 512 512' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M172.2 226.8c-14.6-2.9-28.2 8.9-28.2 23.8V301c0 10.2 7.1 18.4 16.7 22 18.2 6.8 31.3 24.4 31.3 45 0 26.5-21.5 48-48 48s-48-21.5-48-48V120c0-13.3-10.7-24-24-24H24c-13.3 0-24 10.7-24 24v248c0 89.5 82.1 160.2 175 140.7 54.4-11.4 98.3-55.4 109.7-109.7 17.4-82.9-37-157.2-112.5-172.2zM209 0c-9.2-.5-17 6.8-17 16v31.6c0 8.5 6.6 15.5 15 15.9 129.4 7 233.4 112 240.9 241.5.5 8.4 7.5 15 15.9 15h32.1c9.2 0 16.5-7.8 16-17C503.4 139.8 372.2 8.6 209 0zm.3 96c-9.3-.7-17.3 6.7-17.3 16.1v32.1c0 8.4 6.5 15.3 14.8 15.9 76.8 6.3 138 68.2 144.9 145.2.8 8.3 7.6 14.7 15.9 14.7h32.2c9.3 0 16.8-8 16.1-17.3-8.4-110.1-96.5-198.2-206.6-206.7z'/%3E%3C/svg%3E");
}

[data-theme='dark'] .header-github-link:before {
  filter: brightness(0) invert(1);
}

[data-theme='dark'] .header-blog-link:before {
  filter: brightness(0) invert(1);
}


/* .tabs-container {
  border: 2px solid #ccc;
  border-radius: 10px;
  padding: 10px;
} */

.tabs-container {
  position: relative;
}

.tabs-container .tabs {
  border-bottom: 1.5px solid #d3d3d3;
}

/* .tabs-container .margin-top--md {
  padding-top: 10px;
} */

/* You can override the default Infima variables here. */
:root {
  --ifm-color-primary: #800020;
  --ifm-color-primary-dark: #73001d;
  --ifm-color-primary-darker: #6d001b;
  --ifm-color-primary-darkest: #5a0016;
  --ifm-color-primary-light: #8d0023;
  --ifm-color-primary-lighter: #930025;
  --ifm-color-primary-lightest: #a6002a;
  --ifm-code-font-size: 95%;

  --ifm-h4-font-size: 1.25rem;
  --ifm-h5-font-size: 1.1rem;

  --ifm-pagination-nav-border-radius: 0;
  --wave-color: #800020;

  /* 卡片背景 */
  --card-background: #ffffff;

  /* 選取與未選取 */
  --btn-selected: var(--ifm-color-primary);
  --btn-unselected: #cecece;

  --blog-item-shadow: 3px 3px 5px #333333, 0px 0px 0px #333333;

  --content-background-color: #fafafa;

  --progress-bar-background-color: #ff0000;
}

html {
  font-family: "Noto Sans TC", sans-serif;
  font-weight: normal;
}

html {
  --post-title-color: hsl(220deg 79% 58%);
  --post-pub-date-color: #8c8c8c;
  --content-background-color: #fafafa;
  --blog-item-background-color: linear-gradient(50deg, #ffffff, hsl(0deg 0% 95%));
  --ifm-heading-color: #000000;
  --docusaurus-highlighted-code-line-bg: rgba(200, 200, 200, 0.5);
}

html[data-theme="dark"] {
  --ifm-color-primary: #ef2246;
  --ifm-color-primary-dark: #e51136;
  --ifm-color-primary-darker: #d81033;
  --ifm-color-primary-darkest: #b20d2a;
  --ifm-color-primary-light: #f13b5b;
  --ifm-color-primary-lighter: #f24866;
  --ifm-color-primary-lightest: #f56e86;

  --post-title-color: hsl(220deg 79% 58%);
  --post-pub-date-color: #8c8c8c;
  --content-background-color: inherit;
  --blog-item-background-color: black;
  --card-background: #0c0c0c;
  --docusaurus-highlighted-code-line-bg: rgba(128, 128, 128, 0.3);
}

html h1,
html h2,
html h3,
html h4,
html h5,
html h6 {
  font-family: "Noto Sans TC", sans-serif;
}

html[data-theme="dark"] h1,
html[data-theme="dark"] h2,
html[data-theme="dark"] h3,
html[data-theme="dark"] h4,
html[data-theme="dark"] h5,
html[data-theme="dark"] h6 {
  --ifm-heading-color: white;
}

html[data-theme="dark"] .post__tags {
  color: white;
  background: var(--ifm-color-primary);
}

html[data-theme="dark"] .footer__read_count {
  color: var(--ifm-color-primary-light);
}

html[data-theme="dark"] .footer_eye {
  fill: var(--ifm-color-primary-light);
}

.container-wrapper {
  background: var(--content-background-color);
}

/* Prism.js 相關 */
/* .prism-code {
  counter-reset: line-number;
}

.prism-code .token-line::marker {
  color: var(--ifm-color-gray-700);
  content: counter(line-number);
}

.prism-code .token-line {
  counter-increment: line-number;
  display: list-item;
  padding-left: var(--ifm-pre-padding);
  margin-left: var(--ifm-global-spacing);
}

.docusaurus-highlight-code-line {
  background-color: rgba(200, 200, 200, 0.05);
  display: block;
  margin: 0 calc(-1 * var(--ifm-pre-padding));
  padding: 0 var(--ifm-pre-padding);
}

[data-theme="dark"] .docusaurus-highlight-code-line {
  background-color: rgba(128, 128, 128, 0.3);
} */

/* Hero */
.herowave {
  position: relative;
  background: #18191a;
  color: white;
  height: 40vh;
  display: grid;
  align-items: center;
  overflow: hidden;
  text-align: center;
}

.herowave h2 {
  position: relative;
  z-index: 1;
  font-size: 4.5rem;
  font-size: calc(3.2vw + 2.4vh + 1vmin);
  margin: 4px 12px;
  line-height: 1.5;
  color: rgba(255, 255, 255, 0.9);
}

.herowave h3 {
  position: relative;
  z-index: 1;
  font-size: 3rem;
  font-size: calc(1.5vw + 2vh + 1vmin);
  margin: 4px 12px;
  line-height: 1;
  color: rgba(255, 255, 255, 0.9);
}

.herowave p {
  position: relative;
  z-index: 1;
  font-size: 1.1rem;
  color: rgba(255, 255, 255, 0.5);
  line-height: 1.4;
}

.waves {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  height: 200px;
  background-color: var(--wave-color);
  box-shadow: inset 0 0 50px rgba(0, 0, 0, 0.5);
  transition: 500ms;
}

.waves::before,
.waves::after {
  content: "";
  position: absolute;
  width: 300vw;
  height: 300vw;
  top: -65vw;
  left: 50%;
  transform: translate(-50%, -75%);
}

.waves::before {
  border-radius: 44%;
  background: rgba(0, 0, 0, 0.25);
  animation: waves 8s linear infinite;
}

.waves::after {
  border-radius: 44%;
  background: rgba(24, 25, 26, 1);
  animation: waves 15s linear infinite;
}

@keyframes waves {
  0% {
    transform: translate(-50%, -75%) rotate(0deg);
  }

  100% {
    transform: translate(-50%, -75%) rotate(360deg);
  }
}

/* 文章格式 */
article>header>h1 {
  font-family: "Noto Sans TC", sans-serif;
  font-weight: 900;
  font-size: 1em !important;
}

article>header>h2 {
  font-size: 2.5em !important;
  margin-bottom: 10px !important;
  font-weight: 900;
}

.markdown {
  font-family: "Noto Sans TC", sans-serif;
}

.markdown>h1 {
  font-weight: 700;
}

.markdown>h2 {
  font-weight: 700;
}

/* 發佈日期 */
.post__date-container {
  display: grid;
  justify-items: center;
}

/* 閱讀時間 */
.reading-time {
  color: var(--ifm-color-primary);
}

.post__date {
  background-size: contain;
  background-position: center;
  display: grid;
  justify-items: center;
  align-items: center;
  width: 10.5em;
  height: 10.5em;
  margin-top: 0.5em;
  font-weight: 700;
}

.post__day {
  font-size: 4.75em;
  font-weight: 900;
  margin-top: -1em;
}

.post__year_month {
  align-self: start;
  color: var(--post-pub-date-color);
}

/* 標籤 */
.post__tags-container {
  white-space: nowrap;
  overflow: auto;
  padding-bottom: 12px;
  color: var(--ifm-color-primary);
  margin-top: 1.5em;
}

.post__tags {
  background: var(--ifm-color-primary);
  padding: 6px 10px;
  color: #ffffff;
}

.post__tags:hover {
  color: #ffffff;
  text-decoration: none;
}

/* 分頁 */
.article__footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.footer__read_count {
  opacity: 0.8;
  color: var(--ifm-color-primary);
  font-size: 1.8em;
}

.footer_eye {
  fill: var(--ifm-color-primary);
}

.pagination-nav__link {
  /* border: none; */
  /*margin: 0em 0;*/
  background: linear-gradient(90deg, var(--ifm-color-primary-light) 11.3%, var(--ifm-color-primary) 161.54%);
  color: white;
  border: none;
}

.pagination-nav__link:hover {
  color: white;
}

.pagination-nav__item:hover .pagination-nav__link {
  border: none;
}

.pagination-nav__item--next>.pagination-nav__link {
  background: linear-gradient(90deg, var(--ifm-color-primary) 11.3%, var(--ifm-color-primary-light) 161.54%);
}

.pagination-nav__sublabel {
  color: white;
}

/* 部落格列表顯示模式切換 */
.bloghome__posts-list,
.bloghome__posts-card {
  animation: fading 0.8s;
}

/* 切換顯示模式按鈕 */
.bloghome__swith-view {
  text-align: center;
  margin: 2em 0 1em 0;
}

.bloghome__swith-view svg {
  cursor: pointer;
  transition: 0.6s;
}

.bloghome__switch--selected {
  fill: var(--btn-selected);
}

.bloghome__switch {
  fill: var(--btn-unselected);
}

.bloghome__posts-list {
  display: grid;
  grid-template-columns: 1fr 1fr;
  justify-content: center;
  gap: 12px;
  padding: 0 0 3em 0;
}

.post__list-item {
  display: grid;
  grid-template-columns: max-content 1fr;
  grid-template-areas:
    "title title"
    "tags date";
  column-gap: 2em;
  row-gap: 1em;
  align-items: center;
  padding: 1em 1.2em;
  background: var(--card-background);
  position: relative;
}

.post__list-item .post__list-title {
  color: inherit;
  font-size: 1.2em;
  font-weight: 700;
  text-decoration: none;
  transition: 0.6s;
  grid-area: title;
  font-family: "Noto Sans TC", sans-serif;
}

.post__list-item .post__list:hover {
  color: var(--ifm-color-primary);
}

.post__list-item:hover {
  box-sizing: border-box;
  box-shadow: 0 2px 6px 2px rgba(0, 0, 0, 0.2);
  transition: all 0.5s;
}

.post__list-tags {
  grid-area: tags;
  padding: 0.2em 0;
}

.post__list-tags a {
  background: white;
  border: 1px solid var(--ifm-color-primary);
  color: inherit;
}

.post__list-date {
  grid-area: date;
  justify-self: end;
  color: var(--ifm-color-emphasis-600);
}

/*****************************************************************************/

/* Disqus */
#disqus_thread {
  background-color: #303846;
  border-color: #666666;
  border-style: solid;
  border-radius: 8px;
  padding: 12px;
  -moz-box-shadow: inset 0 0 10px black;
  -webkit-box-shadow: inset 0 0 10px black;
  box-shadow: inset 0 0 10px black;
}

/* kbd */
kbd {
  margin: 0px 0.2em;
  padding: 0.1em 0.6em;
  border-radius: 3px;
  border: 1px solid #ccc;
  color: rgb(51, 51, 51);
  font-family: "Arial Black", Impact;
  display: inline-block;
  box-shadow: 0 1px 0px rgba(0, 0, 0, 0.2), 0 0 0 2px #fff inset;
  background-color: rgb(247, 247, 247);
  -moz-box-shadow: 0 1px 0px rgba(0, 0, 0, 0.2), 0 0 0 2px #fff inset;
  -webkit-box-shadow: 0 1px 0px rgba(0, 0, 0, 0.2), 0 0 0 2px #fff inset;
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
}

code {
  font-family: "Noto Sans TC", sans-serif;
  font-size: initial;
  vertical-align: initial;
  padding: 0px 4px;
}

div[class^="admonitionHeading_"] {
  font-family: "Noto Sans TC" !important;
  font-size: 1.2em !important;
  font-weight: 700 !important;
}